html,body {
  height: 100%;
}
.tx-left {
  text-align: left;
}
.tx-right {
  text-align: right;
}
.tx-center {
  text-align: center;
}

.card-btn {
  margin-left: 12px;
  min-width: 70px;
  height: 24px;
  line-height: 22px;
  color: #999999;
  border: none;

  &::before, &::after {
    border-radius: 10em;
    border-color: #999999;
  }
}

.no-wrap {
  white-space: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.orange-btn {
  color: #FF8955;
  border: none;

  &::before, &::after {
    border-radius: 10em;
    border-color: #FF8955;
  }
}

.settlement-btn {
  width: 100px;
  height: 40px;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  background:linear-gradient(90deg,#FF8955 0%,#D6454C 100%);
}

.hide-dom {
  display: none;
}
.hide-inp {
  display: inline-block;
  width: 1px;
  height: 0;
  font-size: 10px;
  opacity: 0;
  border: none;
  background: transparent;
}

.tx-c-orange {
  color: #FF8955;
}
.tx-c-green {
  color: #60A50E;
}
.tx-c-333 {
  color: #333;
}
.tx-c-666 {
  color: #666;
}
.tx-c-999 {
  color: #999;
}
.tx-c-red {
  color: #D6454C;
}

.addr-icon {
  margin-right: 12px;
  width: 27px;
  height: 27px;
  background: url('../assets/dizhi.png') no-repeat center center;
  background-size: 28px 28px;
}

.tag-span {
  text-align: right;

  span {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    padding: 3px 5px;
    height: 16px;
    font-size: 10px;
    color: #777;
    line-height: 10px;
    border-radius: 3px;
    background: #f1f1f1;
  }
}
.upper {
  text-transform: uppercase;
}
