.cxh-app {
  .van-nav-bar .van-icon, .van-nav-bar__title {
    color: #FFF;
  }
  .van-nav-bar .van-icon {
    font-size: 22px;
    font-weight: bold;
  }
  .van-nav-bar__left {
    left: 6px;
  }
  .van-nav-bar {
    color: #FFF;
    background-color: #6D5F56;
  }
  .van-stepper {
    white-space: nowrap;
  }
}
